<div class="footer_section layout_padding">
    <div class="container">
        <div class="newsletter_section">
            <div class="newsletter_left">
                <div class="footer_logo"><img src="~/Template/images/footer-logo.png"></div>
            </div>
            <div class="newsletter_right">
                <h5 class="newsletter_taital">Yeni Ürünleri Kaçırmamak İçin Abone Olun</h5>
                <div class="subscribe_main">
                    <input type="text" class="mail_text" placeholder="E-posta Adresiniz" name="text">
                    <div class="subscribe_bt"><a href="#">Abone Ol</a></div>
                </div>
            </div>
        </div>
        <div class="footer_taital_main">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <h2 class="useful_text">Hakkımızda</h2>
                    <p class="ipsum_text">
                        1985 yılında dökme çay ile sektöre giriş yapan TeaShop, ilerleyen yıllarda poşet çay, yeşil çay ve bitki-meyve çayları üretimiyle yatırımlarına devam etti.
                    </p>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h2 class="useful_text">Menus</h2>
                    <div class="footer_links">
                        <ul>
                            <li><a href="index.html">Ana Sayfa</a></li>
                            <li><a href="about.html">Hakkımızda</a></li>
                            <li><a href="services.html">Hizmetlerimiz</a></li>
                            <li><a href="pricing.html">Fiyat Listsi</a></li>
                            <li><a href="contact.html">Bize Ulaşın</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h2 class="useful_text">Yararlı Linkler</h2>
                    <div class="footer_links">
                        <ul>
                            <li><a href="#">Adipiscing</a></li>
                            <li><a href="#">Elit, sed do</a></li>
                            <li><a href="#">Eiusmod </a></li>
                            <li><a href="#">Tempor </a></li>
                            <li><a href="#">incididunt</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h2 class="useful_text">Bize Ulaşın</h2>
                    <div class="addres_link">
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="~/Template/images/map-icon.png"><span class="padding_left_10">
                                        Kağıthane / 23:6
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/Template/images/call-icon.png"><span class="padding_left_10">
                                        +90
                                        1234567890
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/Template/images/mail-icon.png"><span class="padding_left_10">teashop@gmail.com</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <h1 class="follow_text">Bizi Takip Edin</h1>
            <div class="social_icon">
                <ul>
                    <li><a href="#"><img src="~/Template/images/fb-icon.png"></a></li>
                    <li><a href="#"><img src="~/Template/images/twitter-icon.png"></a></li>
                    <li><a href="#"><img src="~/Template/images/linkedin-icon.png"></a></li>
                    <li><a href="#"><img src="~/Template/images/instagram-icon.png"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>